<div class="card">
  <div class="card-body">
    <div class="col-sm-12 p-0 text-left">
      <h4>Filters</h4>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <label class="mb-0">Launch Year</label>
        <hr class="mt-1 mb-2" />
      </div>

      <button
        type="button"
        *ngFor="let item of year"
        (click)="onYearChange(item)"
        class="btn btn-success col-xs-6 col-sm-5 m-1 d-flex justify-content-around"
        data-toggle="button"
      >
        {{ item }}
      </button>
    </div>

    <div class="row mt-2">
      <div class="col-sm-12 text-center">
        <label class="mb-0">Successful Lunch</label>
        <hr class="mt-1 mb-2" />
      </div>
      <button
        type="button"
        (click)="onLaunchChange(true)"
        class="btn btn-success col-xs-6 col-sm-5 m-1 d-flex justify-content-around"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
      >
        True
      </button>
      <button
        type="button"
        (click)="onLaunchChange(false)"
        class="btn btn-success col-xs-6 col-sm-5 m-1 d-flex justify-content-around"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
      >
        False
      </button>
    </div>

    <div class="row mt-2">
      <div class="col-sm-12 text-center">
        <label class="mb-0">Successful Landing</label>
        <hr class="mt-1 mb-2" />
      </div>
      <button
        type="button"
        (click)="onLandingChange(true)"
        class="btn btn-success col-sm-5 m-1 d-flex justify-content-around"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
      >
        True
      </button>
      <button
        type="button"
        (click)="onLandingChange(false)"
        class="btn btn-success col-sm-5 m-1 d-flex justify-content-around"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
      >
        False
      </button>
    </div>
  </div>
</div>
