<div class="container-fluid bg-light pl-4 pr-4">
  <h2>SpaceX Launch Programs</h2>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2 pl-0 mb-3">
          <div class="row">
            <div class="col-sm-12">
              <app-filter
                (yearChangeEvent)="yearChangeEventHandler($event)"
                (launchChangeEvent)="launchChangeEventHandler($event)"
                (landingChangeEvent)="landingChangeEventHandler($event)"
              ></app-filter>
            </div>
          </div>
        </div>

        <div class="col-sm-10 pl-0">
          <div class="row">
            <div class="col-sm-3" *ngFor="let item of dataToDisplay">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="bg-light text-center">
                    <img
                      class="img"
                      alt="No image Avaible"
                      src="{{ item?.links?.mission_patch_small }}"
                    />
                  </div>
                  <div href="#" class="text-link mb-2 mt-1">
                    {{ item?.mission_name + "#" + item?.flight_number }}
                  </div>
                  <div>
                    <label class="font-weight-bold">Mission Ids:</label>&nbsp;
                    <label class="font-weight-light">{{
                      item?.mission_id || "NA"
                    }}</label>
                  </div>
                  <div>
                    <label class="font-weight-bold">Launch Year:</label>&nbsp;
                    <label class="font-weight-light">{{
                      item?.launch_year || ""
                    }}</label>
                  </div>
                  <div>
                    <label class="font-weight-bold">Successful Lunch:</label
                    >&nbsp;
                    <label class="font-weight-light">{{
                      item?.launch_success || "false"
                    }}</label>
                  </div>
                  <div>
                    <label class="font-weight-bold">Successful Land:</label
                    >&nbsp;
                    <label class="font-weight-light">{{
                      item?.launch_success || "false"
                    }}</label>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="dataToDisplay.length === 0"
              class="col-sm-6 text-center font-weight-bold"
            >
              No Data available!!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
